<head>
    <link href="~/css/QuestionDetailView.css" rel="stylesheet" />
    <link href="~/css/AddQuestion.css" rel="stylesheet" />
</head>
<div class="container">
    <form action="@Url.Action("AddQuestion","Home")" method="post">
      <table class="table table-container">
            <thead>
                <tr class="header">
                    <th colspan="3" class="detail-header" scope="col">Thêm câu hỏi mới</th>
                </tr>
            </thead>
            <tbody>               
                <tr><td colspan="3"><strong>Nội dung câu hỏi: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="questionContent" name="questionContent" autofocus></td></tr>
                <tr><td colspan="3"><strong>Câu trả lời 1: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="questionAnswer1" name="questionAnswer1"></td></tr>
                <tr><td colspan="3"><strong>Câu trả lời 2: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="questionAnswer2" name="questionAnswer2"></td></tr>
                <tr><td colspan="3"><strong>Câu trả lời 3: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="questionAnswer3" name="questionAnswer3"></td></tr>
                <tr><td colspan="3"><strong>Câu trả lời 4: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="questionAnswer4" name="questionAnswer4"></td></tr>
                <tr><td colspan="3"><strong>Câu trả lời đúng: </strong></td></tr>
                <tr><td colspan="3"><input class="form-control" type="text" id="correctAnswer" name="correctAnswer"></td></tr>
                <tr>
                    <td><strong>Thời gian trả lời: </strong></td>
                    <td><strong>Cấp độ khó: </strong></td>
                    <td><strong>Trạng thái: </strong></td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="text" id="timeAnswer" name="timeAnswer">
                    </td>
                    <td>
                        <select id="difficultLevel" name="difficultLevel" class="form-select form-select" aria-label=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                    <td>
                        <select id="status" name="status" class="form-select form-select" aria-label=".form-select-sm example" disabled>
                            <option value="true">Active</option>
                            <option value="false">InActive</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="align-center">
            <button type="submit" class="btn btn-primary btn-add" @*data-bs-toggle="modal" data-bs-target="#exampleModal"*@>Thêm</button>
        </div>      
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @ViewBag.AddResult
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>