<head>
    <link href="~/css/NavBar.css" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 navbar-ul">
                <li class="nav-item navbar-li navbar-a">
                    <a class="navbar-a" asp-area="" asp-controller="Home" asp-action="Index">Câu hỏi</a>
                </li>
                <li class="nav-item navbar-li navbar-a">
                    <a class="navbar-a" asp-area="" asp-controller="Home" asp-action="Privacy">Người chơi</a>
                </li>
                <li class="nav-item navbar-li">
                    <a class="navbar-a" asp-area="" asp-controller="Home" asp-action="Privacy">Kỉ lục</a>
                </li>
                <li class="nav-item navbar-li nav-item-avatar">
                    <a class="avatar" href="#"><img class="admin-avatar" src="~/lib/hinhanh/admin_avatar.jpg"/></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
