@{
    ViewData["Title"] = "Home Page";
}

<div class="container-greeting">
    <div>
        <h1 class="font-color-greeting">Chào mừng các bạn đã đến với những thử thách thú vị</h1>
    </div>
    <div class="btn-bottom-center">
        <button type="button" class="btn btn-success font-color-greeting">CHẤP NHẬN THỬ THÁCH ^v^</button>
        <button type="button" class="btn btn-danger font-color-greeting">BỎ CUỘC THUI! SỢ QUÁ :((</button>
    </div>
    <div class="btn-bottom-right font-color-greeting">Bản quyền thuộc về Nguyễn Đức Hành - &copy Do not copyright</div>
</div>
