@{
    ViewData["Title"] = "Home Page";
}

<div class="container-greeting">
    <div>
        <h3 class="hello-greeting font-color-greeting">CHÀO MỪNG CÁC BẠN ĐẾN VỚI NHỮNG THỬ THÁCH THÚ VỊ</h3>
    </div>
    <div>
        <img class="img-greeting" src="~/lib/hinhanh/decline_decision.png" />
    </div>
    <div class="align-center">
        <button type="button" class="btn btn-success font-color-greeting">CHẤP NHẬN THỬ THÁCH &#128548</button>
        <button type="button" class="btn btn-danger font-color-greeting">BỎ CUỘC THUI! SỢ QUÁ &#128546</button>
    </div>
    <div class="font-color-greeting copyright">Bản quyền thuộc về Nguyễn Đức Hành - &copy Do not copyright</div>
</div>
